.item {
  margin: 0 40px;
}

.item-wrap {
  position: relative;
  height: 100%;
  padding: 24px 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #ececec;
  cursor: pointer;
  transition: all .3s linear;
}

.item-wrap::before {
  content: '-17%';
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 14px;
  right: 14px;
  width: 36px;
  height: 36px;
  font-size: 14px;
  color: #fff;
  background-color: #a2c249;
  border-radius: 50%;
}

.item-wrap a {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.item-top {
  margin-bottom: 18px;
}

.item-mid {
  margin-bottom: 20px;
}

.item-mid p {
  font-size: 12px;
  font-weight: 400;
  color: #8A8A8A;
  line-height: 14px;
  text-align: center;
}

.item-low {
  margin-top: auto;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a2c249;
  border-radius: 20px;
}

.item-low span {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #fff;
}

.item:hover .item-wrap {
  border-color: #a2c249;
  box-shadow: 0px 4px 32px rgba(162, 194, 73, 0.15);
}

.faq-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 24px;
}

.faq-num {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin-right: 20px;
  border-radius: 50%;
  background-color: #a2c249;
  flex-shrink: 0;
}

.faq-content {
  width: 100%;
  background: rgba(243, 243, 243, 0.4);
  border-radius: 5px;
}

.faq-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 20px;
  height: 40px;
  background-color: #f3f3f3;
  border-radius: 5px;
}

.faq-title h2 {
  font-size: 16px;
  font-weight: 500;
  color: #000;
}

.faq-title span {
  display: inline-block;
  margin-top: -4px;
  cursor: pointer;
  font-size: 22px;
}

.faq-text {
  display: none;
}

.faq-text p {
  padding: 12px 20px 13px;
  color: #676767;
  font-weight: 400;
  font-size: 14px;
  text-align: justify;
}

.about-wrap {
  display: flex;
  align-items: center;
}

.about-left,
.about-center,
.about-right {
  width: 33.33%;
}

.recipe-d,
.recipe-n {
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}

.recipe-n {
  margin-bottom: 0;
}

.recipe-n .recipe-left {
  order: 1;
}

.recipe-n .recipe-right {
  margin-left: 0;
  margin-right: 100px;
}

.recipe-n .recipe-title h3 {
  color: #5467ae;
}

.recipe-title {
  margin-bottom: 15px;
}

.recipe-title h3 {
  color: #aacf44;
  font-weight: 500;
  font-size: 24px;
}

.recipe-right {
  padding: 32px 44px;
  width: 50%;
  margin-left: 100px;
  background-color: #fcfef8;
  border-radius: 30px;
}

.table {
  width: 100%;
}

.table tr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
  padding-bottom: 1px;
  border-bottom: 1px dashed #e2e2e2;
}

.doc-wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-gap: 30px;
}

.doc-item {
  background-color: #f9faff;
  border-radius: 30px;
}

.doc-item-wrap {
  display: flex;
  align-items: center;
  padding: 23px 28px 26px;
}

.doc-left {
  display: flex;
  align-items: center;
  padding-right: 10px;
  border-right: 1px solid #d6d6d6;
}

.doc-img {
  margin-right: 20px;
  flex-shrink: 0;
}

.doc-title {
  margin-bottom: 10px;
}

.doc-title h4 {
  color: #24377e;
  font-weight: 600;
  font-size: 14px;
}

.doc-text p {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  color: #909090;
}

.doc-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding-left: 30px;
  text-align: center;
}

.doc-download {
  margin-top: 7px;
}

.doc-download a {
  font-size: 12px;
  color: #a2c249;
  font-weight: 400;
  text-align: center;
}

.services {
  background-color: #fdfff6;
}

.services-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  padding: 20px 0 45px;
}

.services-item {
  width: 25%;
  text-align: center;
}

.services-item-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-item-img {
  margin-bottom: 5px;
}

.services-item-title {
  margin: 0 auto;
  margin-bottom: 8px;
}

.services-item-title h3 {
  color: #5467ae;
  font-weight: 500;
  font-size: 24px;
}

.services-item-text {
  width: 80%;
  margin: 0 auto;
}

.services-item-text p {
  font-size: 12px;
  color: #909090;
}

.review-item {
  transition: all .3s linear;
}

.review-img {
  position: relative;
  transition: all .3s linear;
}

.review-img::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 210px;
  height: 210px;
  border: 1px solid #a2c249;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: all .3s linear;
}

.review-img img {
  position: relative;
  margin: 0 auto;
  z-index: 99;
  transition: all .3s linear;
}

.slick-center .review-img {
  position: relative;
}

.slick-center .review-img::before {
  width: 250px;
  height: 250px;
  background-color: #a2c249;
}

.slick-center .review-img img {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

.slick-track {
  padding: 50px 0;
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.certificate-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-wrap {
  background-image: url("../images/gym.webp");
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.form-content {
  width: 50%;
  margin-right: auto;
  padding-right: 70px;
  margin-bottom: 80px;
}

.form .section-title {
  margin-bottom: 30px;
}

.form-text {
  padding-right: 120px;
}

.form-text p {
  font-size: 18px;
  color: #a2c249;
}

.form-form {
  display: flex;
  flex-direction: column;
  width: 370px;
}

.form-form input {
  margin-bottom: 22px;
  background: #f8f8f8;
  border: 1px solid #e2e2e2;
  border-radius: 20px;
}

.form-form input:last-child {
  margin-bottom: 0;
}

.form-input {
  padding: 24px 42px;
  transition: all .3s linear;
}

.form-input:focus {
  border-color: #a2c249;
}

.form-input::-webkit-input-placeholder {
  color: #c7c7c7;
  font-size: 15px;
  font-weight: 300;
}

.form-input:-ms-input-placeholder {
  color: #c7c7c7;
  font-size: 15px;
  font-weight: 300;
}

.form-input::placeholder {
  color: #c7c7c7;
  font-size: 15px;
  font-weight: 300;
}

.form-submit {
  cursor: pointer;
  padding: 20px 42px;
  font-size: 20px;
  color: #fff;
  background: #a2c249 !important;
}

.footer {
  background-color: rgba(241, 241, 241, 0.5);
}

.footer-wrap {
  padding: 60px 0;
}

.footer-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-block {
  width: 33.33%;
}

.footer-social-descr {
  margin-bottom: 26px;
  color: #404040;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.5;
  text-align: center;
}

.footer-social-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social-item {
  margin-right: 33px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.footer-social-item svg {
  fill: #5467ae;
  transition: all .3s linear;
}

.footer-social-item svg:hover {
  fill: #a2c249;
}

.footer-call {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.footer-call-icon {
  margin-right: 15px;
}

.footer-call-content {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.footer-call-num {
  padding-bottom: 4px;
  font-weight: 500;
  font-size: 16px;
  color: #5467ae;
}

.footer-call-span {
  font-weight: 300;
  font-size: 12px;
  color: #404040;
}

.single-wrap {
  padding: 100px 0 15px;
}

.single-row {
  display: flex;
  align-items: flex-start;
}

.single-left {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: #f3f3f3;
}

.single-img {
  padding: 63px 74px;
}

.single-right {
  padding-left: 80px;
  padding-right: 150px;
}

.single-name {
  margin-bottom: 25px;
}

.single-name h2 {
  font-weight: 600;
  font-size: 18px;
  color: #000;
}

.single-subtitle {
  margin-bottom: 20px;
}

.single-subtitle h3 {
  font-weight: 600;
  font-size: 14px;
  color: #a2c249;
}

.single-block-title h4 {
  font-size: 16px;
  color: #000;
  font-weight: 600;
}

.single-btn {
  margin-top: 30px;
  margin-bottom: 50px;
}

.single-btn a {
  padding: 11px 71px;
  font-weight: 400;
  color: #fff;
  background-color: #a2c249;
  border: 1px solid transparent;
  border-radius: 30px;
  transition: all .3s linear;
}

.single-btn a:hover {
  color: #a2c249;
  border-color: #a2c249;
  background-color: transparent;
}

.single-text p {
  margin-bottom: 5px;
  font-size: 14px;
  color: #000;
  font-weight: 300;
  line-height: 1.5;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

section {
  padding: 75px 0;
}

@media (max-width: 1380px) {
  .intro-slider-item img {
    margin-left: auto;
    max-width: 90%;
  }
}